* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #97deff;
    color: white;
}

.navbar {
    display: flex;
    background-color: #7eaadc;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color:#ffffff;
    color: rgb(164, 164, 164);
}
