body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background-color: #624491;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #653989;
    padding: 10px;
    color: rgb(204, 204, 204);
}

.navbar .menu a {
    background: var(--dark);
    color: rgb(193, 193, 193);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.navbar .search input {
    padding: 5px;
}

.navbar .search button {
    padding: 5px 10px;
    background-color: #6d6c6d;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* Main Section */
.main {
    display: flex;
}

/* Content */
.content {
    flex: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

/* Sidebar */
.sidebar {
    flex: 0.5;
    background-color: #00509b;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2f2d58;
    color: #777497;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: #847ac5;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: left;
}

.total {
    background-color: #777497;
    font-weight: bold;
    color: white;
}

/* Footer */
.footer {
    background-color: #2f2d58;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}